doctype html
html(lang="en")
    head
        include headerdetails.pug
        include styles.pug
        title My Account
    body
        div(class='grid-container') 
            div(class='grid-item-style div1') 
                h3="My Account"
                h3 User ID: #{user}
                h3 Username: #{username} 
                h3 Display name: #{nickname}
                h5= nofviews 
                a(href="/")="Home Page"
                div
                    form(method="post" action="/logout")
                        table 
                            input(type="submit" value="Logout")
            include infodivs.pug