doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title My Account
    body
        h1="My Account"
        h1= user
        h1= username 
        h1= nickname 
        a(href="/")="Home Page"
        div
            form(method="post" action="/logout")
                table 
                    input(type="submit" value="Logout")